@charset "utf-8";
/*
 E-Commerce Website Project
    Author: Ave Busby
    Class: COP2822C-2478-O
    Due Date: 04/28/2020
    Description: Main style sheet for Simply Cupcakes... that contains basic site styles
*/

